@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

.title-top{
    text-align: left;
    font-size: 200px;
    font-family: 'Roboto Condensed', sans-serif;
    background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(255,255,255,1));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    padding: 10px;
}
.title-bottom{
    text-align: right;
    font-size: 200px;
    font-family: 'Roboto Condensed', sans-serif;
    background-image: linear-gradient(to right, white, black);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    padding: 10px;
}