body{
  /* width:1920px; */
  background:linear-gradient(180deg, 
   rgba(40, 44, 52, 1)   0%, 
   rgba(40, 44, 52, 1)   40%, 
   rgba(55, 28, 134, 1)  100%);
}

.App {
  text-align: center;
  font-size: 14px;
  color: white; 
}


/* App-header ================================================================== */
.App-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}
/* .App-header .header-menubar{
  float: left;
  width: 20%;
}
.App-header .header-center{
  float: left;
  width: 59%;
  margin-top: 10px;
}
.App-header .header-right{
  float: right;
  width: 20%;
  margin-top: 20px;
}
.App-header .header-right .mymenu{
  color: rgb(212, 210, 210);
} */
.header-menubar{
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin: 10px;
  font-size: 2rem;
}


.header-right {display: flex;}
.header-right li{
  list-style: none;
  display: inline;
  font-size: 15px;
  margin: 30px 20px;
}
.header-right li a{
  text-decoration: none;
  color: white;
}
.header-right li a span:first-child{
  opacity: 0; 
  position: absolute;
}
.header-right li a:hover span:first-child{
  opacity: 1; 
}
.header-right li a:hover span:last-child{opacity: 0;}


/* .header-right li a::before{display: block; content: attr(title); transition: all 0.5s;}
.header-right li a::after{display: block; content: attr(title); font-weight: bold; transition: all 0.5s;}
.header-right li a:hover::before{transform: translateY(-40px);}
.header-right li a:hover::after{transform: translateY(-40px);} */





.toggle {
  display: none;
  font-size: 1.5rem;
  padding: 1rem 1rem;
}

.sign {
  display: none;
  font-size: 1.5rem;
  padding: 1rem 1rem;
}

@media screen and (max-width: 920px) {
  /* flex-wrap: wrap; */

  .header-right {
    flex-direction: column;
    width: 100%;
  }

  .header_menulist {
    flex-direction: column;
    width: 100%;
  }

  .header_menulist li a,
  .header-right .mymenu {
    display: block;
    padding: 10px;
  }

  .toggle {
    display: block;
  }

  .sign {
    display: block;
  }
}

/* ================================================================== */

.App-Main{
  color: white;
  padding-top: 60px;
  margin: 0 auto;
  width: 1920px;
  min-height: calc(100vh - 100px);
}

/* ================================================================== */
.App-footer{
  color: white;
  background-color: rgba(255, 255, 255, 0.05);
  height: 80px;
  text-align: left;
  padding: 30px 40px;
  line-height: 25px;
}
.footer{width: 1920px;margin: 0 auto;}
/* ================================================================== */


/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */