/* body{width:1920px;} */

.App {
  text-align: center;
  font-size: 14px;
  background:linear-gradient(180deg, 
   rgba(40, 44, 52, 1)   0%, 
   rgba(40, 44, 52, 1)   40%, 
   rgba(55, 28, 134, 1)  100%);
  color: white; 
}


/* App-header ================================================================== */
.App-header {
  color: #61dafb;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(58, 63, 73, 0.7);
  z-index: 1000;
}
.App-header .header-menubar{
  float: left;
  width: 20%;
}
.App-header .header-center{
  float: left;
  width: 59%;
  margin-top: 10px;
}
.App-header .header-right{
  float: right;
  width: 20%;
  margin-top: 20px;
}
.App-header .header-right .mymenu{
  color: rgb(212, 210, 210);
}

.App-Header:link{
  color: #61dafb;
}

#check_box {
  display: none;
}

#check_box + label {
  position: relative;
  display: block;
  width: 30px;
  height: 20px;
  cursor: pointer;
  margin: 20px;
  z-index: 2;
}

#check_box + label > span {
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background: white;
  border-radius: 5px;
  transition: all 300ms;
}

#check_box:checked + label > span:nth-child(1) {
  top: 50%;
  transform: translate(0, -50%);
  transform: rotate(45deg);
}

#check_box + label > span:nth-child(2) {
  top: 50%;
  transform: translate(0, -50%);
}

#check_box:checked + label > span:nth-child(2) {
  opacity: 0;
}

#check_box + label > span:nth-child(3) {
  bottom: 0;
}

#check_box:checked + label > span:nth-child(3) {
  top: 50%;
  transform: translate(0, -50%);
  transform: rotate(-45deg);
}

#check_box:checked + label + #side_menu {
  left: 0;
}

#side_menu {
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: rgba(58, 63, 73, 0.9);
  left: -300px;
  transition: all 300ms;
  z-index: 1;
  top: 0px;
  padding: 60px 20px 20px 20px;
  box-sizing: border-box;
}

#side_menu a{
  text-decoration: none;
  color: white;
  font-size: 120%;
  line-height: 45px;
  padding: 20px;
}
#side_menu li{
  list-style-type: none;
  text-align: left;
}
#side_menu li:hover{
  background-color: rgb(40, 44, 52);
}

/* ================================================================== */

.App-Main{
  color: white;
  padding-top: 60px;
  margin: 0 auto;
  width: 1920px;
  min-height: calc(100vh - 100px);
}

/* ================================================================== */
.App-footer{
  color: white;
  background-color: rgba(255, 255, 255, 0.05);
  height: 80px;
  text-align: left;
  padding: 30px 40px;
  line-height: 25px;
}
.footer{width: 1920px;margin: 0 auto;}
/* ================================================================== */


/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */